@model DTOProperties.Employee

@{
    ViewBag.Title = "GetEmployees";
}

<h2>GetEmployees</h2>
<script src="~/Scripts/angular.js"></script>
<script src="~/AngularJsScripts/GetEmployeeScript.js"></script>
<div ng-app="mymodule">
    <div ng-controller="Mycontroller">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>employee Name</th>
                        <th>employee Age</th>
                        <th>employee Salary</th>
                        <th>employee Designation</th>
                        <th>employee Project</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in employees">
                        <td>{{employee.employeeName}}</td>
                        <td>{{employee.employeeAge}}</td>
                        <td>{{employee.employeeSalary}}</td>
                        <td>{{employee.employeeDesignation}}</td>
                        <td>{{employee.employeeProject}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h4>Employee</h4>
        <hr />



        <dl class="dl-horizontal" ng-repeat="employee in employees">
            <dt>
                @Html.DisplayNameFor(model => model.employeeName)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.employeeName, new { ng_model = "employee.employeeName" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.employeeAge)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.employeeAge, new { ng_model = "employee.employeeAge" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.employeeSalary)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.employeeSalary, new { ng_model = "employee.employeeSalary" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.employeeDesignation)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.employeeDesignation, new { ng_model = "employee.employeeDesignation" })
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.employeeProject)
            </dt>

            <dd>
                @Html.TextBoxFor(model => model.employeeProject, new { ng_model = "employee.employeeProject" })
            </dd>

        </dl>

    </div>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
