@model DTOProperties.Employee

@{
    ViewBag.Title = "SaveEmployeDeailsPage";
}

<h2>SaveEmployeDeailsPage</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.employeeName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.employeeName, new { ng_model = "employee.employeeName" })
                @Html.ValidationMessageFor(model => model.employeeName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.employeeAge, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.employeeAge, new { ng_model = "employee.employeeAge" })
                @Html.ValidationMessageFor(model => model.employeeAge)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.employeeSalary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.employeeSalary, new { ng_model = "employee.employeeSalary" })
                @Html.ValidationMessageFor(model => model.employeeSalary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.employeeDesignation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.employeeDesignation, new { ng_model = "employee.employeeDesignation" })
                @Html.ValidationMessageFor(model => model.employeeDesignation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.employeeProject, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.employeeProject, new { ng_model = "employee.employeeProject" })
                @Html.ValidationMessageFor(model => model.employeeProject)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
